contexttimer
decord
einops>=0.4.1
fairscale==0.4.4
ftfy
iopath
ipython
omegaconf
opendatasets
packaging
pre-commit
pycocotools
pycocoevalcap
python-magic
scikit-image
timm==0.4.12
transformers>=4.15.0,<4.22.0
webdataset
wheel
sentencepiece
